{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
  
{% endblock %}

{% block content %}
    <div id="content">
    <div>
    </div>
    <div>
    {% if user.is_authenticated %}
        HI {{ user.username }}
        <p><a href="{% url 'signout' %}">logout</a></p>
        <p><a href="{% url 'accounts:edit' user.id %}">내 정보 수정하기</a></p>
    {% else %}
        <div>
            <form method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <p>
                    <label for="id_username"></label>
                    <input type="text" name="username" autofocus required id="id_username" placeholder="아이디">
                </p>
                <p>
                    <label for="id_password"></label>
                    <input type="password" name="password" required id="id_password" placeholder="비밀번호">
                </p>
                <button type="submit">로그인</button>
            </form>
        <a href="{% url 'accounts:signup' %}">회원가입하러가기~</a>
    
                {% csrf_token %}
         
    {% endif %}


{% endblock %}
